<ul class="nav nav-tabs">
    <li class="nav-item">
        <a n:class="'nav-link', isLinkCurrent('Profile:default') ? 'active'" n:href="Profile:">
            Základní údaje
        </a>
    </li>

    <li class="nav-item">
        <a n:class="'nav-link', isLinkCurrent('Profile:changePassword') ? 'active'" n:href="Profile:changePassword">
            Změna hesla
        </a>
    </li>
</ul>
