{import '_commons.latte'}

<!doctype html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Obnova hesla</title>
</head>
<body>

Vážený uživateli, <br>

<p>
    zasíláme Vám odkaz na obnovení hesla. <br> <br>
    <a href="{$link}">{$link}</a>
</p>

Platnost odkazu je do {$expire|date:'d. m. Y H:i:s'}.

{include signature}
</body>
</html>