{block RightHeader}
    <a n:href="Customer:add, id: null" class="btn btn-success">
        <i class="fas fa-fw fa-plus"></i> Přidat zákazníka
    </a>
{/block}

{block content}

{control customerView}