$note-height: 200px;
$note-height-header: 50px;
$note-height-body: $note-height - $note-height-header;

.note {
  background-color: #ffc;
  padding: 5px;
  height: $note-height;
  margin-bottom: 15px;
  border: 1px solid lightgray;
  border-radius: 5px;

  > .note-header {
    border-bottom: 1px solid lightgray;
    margin-bottom: 5px;

    > .note-right {
      float: right;
    }
  }

  > .note-body {
    overflow-x: auto;
    height: $note-height-body;
  }

  .clock {
    color: gray;
    font-size: 10px;
    cursor: default;
  }
}