<ul class="list-unstyled">
    <li n:class="$presenter->isLinkCurrent('Homepage:default') ? 'active'">
        <a href="{plink Homepage:}">
            <i class="fa fa-fw fa-tachometer-alt"></i> Nástěnka
        </a>
    </li>

    <li n:class="$presenter->isLinkCurrent('Customer:*') ? 'active'">
        <a href="{plink Customer:}">
            <i class="fas fa-fw fa-user"></i> Zákazníci
        </a>
    </li>

    <li n:class="$presenter->isLinkCurrent('Note:*') ? 'active'">
        <a href="{plink Note:}">
            <i class="fas fa-fw fa-sticky-note"></i> Poznámky
        </a>
    </li>

    <li n:class="$presenter->isLinkCurrent('FileSystem:*')">
        <a href="{plink FileSystem:}">
            <i class="fas fa-fw fa-folder-open"></i> Soubory
        </a>
    </li>

    <li n:class="$presenter->isLinkCurrent('Employee:*')">
        <a href="{plink Employee:}">
            <i class="fas fa-fw fa-user"></i> Zaměstnanci
        </a>
    </li>
</ul>