{block RightHeader}
    <a n:href="Note:add" class="btn btn-success">
        <i class="fas fa-fw fa-plus"></i> Přidat poznámku
    </a>
{/block}

{block content}

<div class="row">
    {foreach $notes as $note}
        <div class="col-md-4">{control "note-$note[id]"}</div>
    {/foreach}
</div>