@import "~bootstrap/scss/bootstrap";
@import "components/admin";
@import "components/alert";
@import "components/note";
@import "components/errorPage";
@import "~trix";

$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/brands";

a.backlink {
  text-decoration: none;
}

.trix-button-group--file-tools {
  display: none !important;
}

