includes:
	- services.neon

parameters:


application:
	debugger: %debugMode%
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	debugger: %debugMode%
	expiration: 14 days


security:
	debugger: %debugMode%


di:
	debugger: %debugMode%
	export:
		parameters: no
		tags: no


routing:
	debugger: %debugMode%


extensions:
	webpack: Contributte\Webpack\DI\WebpackExtension(%debugMode%, %consoleMode%)

	console: Contributte\Console\DI\ConsoleExtension(%consoleMode%)
	console.extra: Contributte\Console\Extra\DI\ConsoleBridgesExtension

	events: Contributte\EventDispatcher\DI\EventDispatcherExtension

	# Database
	annotations: Nettrine\Annotations\DI\AnnotationsExtension
	dbal: Nettrine\DBAL\DI\DbalExtension
	dbal.console: Nettrine\DBAL\DI\DbalConsoleExtension
	orm: Nettrine\ORM\DI\OrmExtension
	orm.console: Nettrine\ORM\DI\OrmConsoleExtension
	orm.cache: Nettrine\ORM\DI\OrmCacheExtension
	orm.annotations: Nettrine\ORM\DI\OrmAnnotationsExtension
	nettrine.migrations: Nettrine\Migrations\DI\MigrationsExtension
	nettrine.fixtures: Nettrine\Fixtures\DI\FixturesExtension
	nettrine.cache: Nettrine\Cache\DI\CacheExtension


webpack:
    build:
        directory: %wwwDir%/assets
        publicPath: assets/

    manifest:
    	name: manifest.json


events:
    autoload: true
    lazy: true


nettrine.fixtures:
	paths:
		- %appDir%/Database/Fixtures


nettrine.migrations:
	directory: %appDir%/Database/Migrations
	namespace: App\Database\Migrations


dbal:
	debug:
		panel: %debugMode%


orm:
	entityManagerDecoratorClass: App\Database\Entity\EntityManager


annotations:
	debug: %debugMode%


orm.annotations:
	mapping:
		App\Database\Entity: %appDir%/Database/Entity