parameters:


dbal:
	connection:
		host: 127.0.0.1
		user: root
		password: root
		dbname: utb-ap4tw
		driver: pdo_mysql


webpack:
    devServer:
        enabled: %debugMode%
        url: http://localhost:3180
        timeout: 0.1