parameters:


dbal:
	connection:
		host: ::getenv(MYSQL_HOST)
		user: ::getenv(MYSQL_USER)
		password: ::getenv(MYSQL_PASSWORD)
		dbname: ::getenv(MYSQL_DB)
		driver: pdo_mysql


mail:
	smtp: true
	host: ::getenv(SMTP_HOST)
	username: ::getenv(SMTP_USERNAME)
	password: ::getenv(SMTP_PASSWORD)
	secure: tls
	port: 587


webpack:
	devServer:
		enabled: false