parameters:
	heroku:
		database: ::parse_url(::getenv(CLEARDB_DATABASE_URL))

dbal:
	connection:
		host: %heroku.database.host%
		user: %heroku.database.user%
		password: %heroku.database.pass%
		dbname: ::substr(%heroku.database.path%, 1)
		driver: pdo_mysql