services:
	- App\Services\User\Authenticator
	- App\Components\SignIn\SignInFactory
	- App\Components\Menu\MenuFactory
	- App\Components\ForgotPassword\ForgotPasswordFactory
	- App\Components\FormNote\FormNoteFactory
	- App\Components\ViewNote\ViewNoteFactory

	- App\Events\Note\NoteSubscriber