services:
	- App\Router\RouterFactory::createRouter

	- App\Services\User\Authenticator
	- App\Components\SignIn\SignInFactory
	- App\Components\Menu\MenuFactory
	- App\Components\ForgotPassword\ForgotPasswordFactory
	- App\Components\FormNote\FormNoteFactory
	- App\Components\ViewNote\ViewNoteFactory
	- App\Components\FormCustomer\FormCustomerFactory
	- App\Components\Profile\ChangePassword\ChangePasswordFactory
	- App\Components\Profile\ChangePersonalData\ChangePersonalDataFactory
	- App\Components\CustomerView\CustomerViewFactory
	- App\Components\FileSystem\FileSystemFactory
	- App\Components\RecoveryPassword\RecoveryPasswordFactory
	- App\Components\Employee\Grid\GridFactory

	- App\Events\Note\NoteSubscriber
	- App\Events\Employee\EmployeeSubscriber
	- App\Events\Customer\CustomerSubscriber
	- App\Events\RecoveryPassword\RecoveryPasswordSubscriber
	- App\Events\Mail\MailSubscriber

	- App\Components\Dashboard\UI\Total\TotalFactory