<form n:name="form">
    <ul class="text-danger" n:if="$form->hasErrors()">
        <li n:foreach="$form->errors as $error">{$error}</li>
    </ul>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-fw fa-user"></i></span>
        </div>
        {input username, class => 'form-control'}
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-fw fa-key"></i></span>
        </div>
        {input password, class => 'form-control'}
    </div>

    <div class="row">
        <div class="col pr-2">
            {input process, class => 'btn btn-block btn-primary'}
        </div>

        <div class="col pl-2">
            <a class="btn btn-block btn-link" href="{plink Sign:forgotPassword}">
                Zapomenuté heslo
            </a>
        </div>
    </div>
</form>