<form n:name="form">
    <div class="mb-3">
        {label username, class => 'form-label'}
        {input username, class => 'form-control'}
    </div>

    {input process, class => 'btn btn-block btn-primary'}
</form>